html {font-family: Georgia, 'Times New Roman', Times, serif; font-size: 14pt; font-weight: 300; line-height: 1.8rem; color: #111;}
* {padding:0; margin:0;}
body {background: #eee; margin: 1em;}
a {color: #111;}

#wrapper {margin: 0 auto; width: 90vw; max-width: 1200px;}
/* box-sizing: border-box; padding is included, default = content-box */
header {background-image: url(../assets/img/header.png); background-repeat: no-repeat; background-position: center center; background-size: cover; 
    height: 150px; box-sizing: border-box; padding: 0 1rem 1 rem 1rem;}
header h2 {font-size: 4rem; text-align: center; text-shadow: 2px 2px #888; padding: 0.5rem; opacity: 0.6;}

/* flexes nav + main in a row */
#content {display: flex; flex-flow: row nowrap; justify-content: space-between; align-items: flex-start;}

nav {flex: 1; order: 1; margin-top: 1rem;}
nav ul {list-style: none;}
nav ul li {margin: 0.5rem; border: 2px outset #fff; border-radius: 5px; padding: 0.2rem; text-align: center;}
nav ul li:hover {background-color: #fff;}
nav ul li:hover a {color: #222;}
nav ul li a {font-size: 0.8rem; text-decoration: none;}
nav ul li.active {border: 2px inset #fff; background-color: #444;}
nav ul li.active a {color: #fff;}

/* ist flex-item from #content and flexes 3 section.recipes */
main {flex: 5; order: 2; display: flex; flex-flow: row wrap; justify-content: flex-start; padding: 1em;}
main section.recipe {flex: 0 1 auto; width: 31%; box-sizing: border-box; border: 1px solid #666; margin: 0.5rem; padding: 1rem; border-radius: 0.5rem; 
    box-shadow: 2px 2px 1px #666;}
main section.recipe img {width: 100%; height: auto;}

/* Hamburger menu */
/* Placeholder */
nav .menu-icon {cursor: pointer; display: none; padding: 28px 20px; position: relative; user-select: none;}
/* One Hamburger line */
nav .menu-icon .navicon { background: #333; display: block; height: 2px; position: relative; transition: background .2s ease-out; width: 18px;}
/* Two other Hamburger lines */
nav .menu-icon .navicon:before, nav .menu-icon .navicon:after {background: #333; content: ''; display: block; height: 100%; position: absolute; 
    transition: all .2s ease-out;  width: 100%;}
nav .menu-icon .navicon:before {top: 5px;}
nav .menu-icon .navicon:after {top: -5px;}
/* menu btn is invisible checkbox for checking */
nav .menu-btn {display: none;}
nav .menu-btn:checked ~ ul {display: block;}
/* if checked the lines become a half cross */
nav .menu-btn:checked ~ .menu-icon .navicon {background: transparent;}
nav .menu-btn:checked ~ .menu-icon .navicon:before {transform: rotate(-45deg);}
nav .menu-btn:checked ~ .menu-icon .navicon:after {transform: rotate(45deg);}
/* now 2 half crosses */
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {top: 0;}

@media screen and (max-width: 900px) {
	html {font-size: 12pt;}
	body {margin:0.5rem;}
    header {display: none;}
    #content {flex-flow: column nowrap;}
    main {flex-flow: column nowrap; }
    main section.recipe {width: 100%; margin: 0.5rem 0;}
    nav ul {display: none;}
    nav ul li {border: 1px solid #fff; border-radius: 3px; padding: 0.2rem 1.5rem;}
    nav .menu-icon {display: inline-block;}
}